* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: larger;
}

.container {
    display: grid;
    grid-template-columns: 40% repeat(5, auto); /* Створює три рівні колонки */
    grid-gap: 10px; /* Відстань між елементами */
    padding: 10px;
    grid-template-areas:
        "mainLogo main aboutUs catalogue contacts basket";
    background-color: black;
    align-items: center;
}

.grid-item {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    
} 

